* {
    margin: 0px;
    padding:0px;
}
body { 
    padding-top: 70px; 
    background-image: url(/img/bg.png); 
}
h3 {
    text-align: center;
    text-transform: uppercase;
}
ul {
margin-left: 0; 
padding-left: 0; 
}
li {
    list-style-type: none;
}
.Name {
    width: 40%;
}

.skillBtn {
    /*max-width: 80px;*/
    width: 15%;
}

.UserInfo ul {
    background-color:#f7f7f7;
}
.UserInfo ul:hover{
    background-color:#f3f3f3;
}
.content-area { 
    background-color:#f9f9f9;
}

.topTenSkills {
    background-color: rgba(249, 249, 249, 0.4); 
    border-radius: 50px;
    padding: 10px;    
}

.topTenSkills ul {
    padding-left: 10%;
}
.topTenSkills li {
    font-size: 1.2em;
}