<section ng-controller="allUsers" >
    <div class="UserInfo">
        <h3> Users List</h3>
        <ul  ng-repeat="param in Users">
            <input class="Name btn btn-success" type="submit" value="{{param.username}} {{param.name}}" ng-click="checked = true">
           
            <button class="btn btn-primary" ui-sref="UserInfo({ id: param.id })"  ui-sref-active="active">CV</button> 

            <button type="button" class="skillBtn btn btn-info pull-right" ng-click="myValue = true"> Top skills </button>

                <input class="btn btn-primary" type="submit" ng-show="checked" ng-click="checked = false" value="Hide"> 
                
                <div ng-show="myValue" class="ng-hide">
                    <h4> Skills : {{ ApplicantSkills}} </h4>
                    <!--<h3>UserID -  {{AllInfo}}</h3>
                    <h3>param: {{param.id}} </h3>-->
                    <!--<h2>{{WORKPLZ(param.id)}}</h2>-->
                </div>
                <div class="content-area sample-show-hide" ng-show="checked">
                    <div>
                        <h4>Education</h3>                        
                    </div>
                    <div>
                        <h4>Skill</h3>                        
                    </div>
                    <div>
                        <h4>EmploymentSkill</h3>                        
                    </div>

                </div>
        </ul>              
    </div>    
</section>
